.forgot-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  font-family: "Poppins", sans-serif;
}

.forgot-card {
  width: 400px;
  padding: 35px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s ease-in-out;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 8px;
  color: #333;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #777;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1.8px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  font-size: 15px;
}

.input-box input:focus {
  border-color: #6e8efb;
  box-shadow: 0 0 6px rgba(110, 142, 251, 0.5);
}

.reset-btn {
  width: 100%;
  padding: 12px;
  background: #6e8efb;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.reset-btn:hover {
  background: #5b75e5;
  transform: translateY(-2px);
}

.back-login {
  text-align: center;
  margin-top: 20px;
}

.back-login span {
  color: #6e8efb;
  cursor: pointer;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
