.signup-container {
  width: 100%;
  height: 100vh;
  background: #f0f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 380px;
  padding: 30px;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  font-size: 14px;
  font-weight: 600;
}

.input-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background: #4a76ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #375fe0;
}

.login-text {
  text-align: center;
  margin-top: 15px;
}

.login-text span {
  color: #4a76ff;
  cursor: pointer;
  font-weight: bold;
}
